.general_container {
    background-image: url("/src/imagenes/fondor1.jpg");
    background-size: cover;
    background-repeat: repeat;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100vw;
    min-height: 70vh;
    align-items: center;
    background-color: antiquewhite;
}
